@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media screen and (max-width: 700px) {
    html,
    body {
      width: 200%;
    }
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @apply bg-green-500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.suggestions li {
  padding: 0.5rem;
  background-color: white;
}

.suggestion-active,
.suggestions li:hover {
  background-color: rgb(139 92 246);
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  min-width: 30%;
  max-height: 143px;
  overflow-y: auto;
  z-index: 2;
  position: absolute;
  padding-left: 0;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.no-suggestions {
  color: #999;
  padding: 0.5rem;
}